.home {
    box-sizing: border-box;
    padding-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-top: 150px;
  }
  
  .about {
    width: 80%;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about p {
    font-size: 16px;
    color: #444;
  }
  